<a class="site-title" rel="author" href="{{ '.' | relative_url }}">
  <span id="title-firstname">{{ site.title.firstname }}</span>
  <span id="title-nickname">{{ site.title.nickname }}</span>
  <span id="title-lastname">{{ site.title.lastname }}</span>

  <script>
    (() => {
      const currentScript = document.currentScript;
      const lastname = document.getElementById("title-lastname");
      const names = [
        document.getElementById("title-firstname"),
        document.getElementById("title-nickname"),
      ];
      const positions = ['right', 'left'];
      const slideAndStay = pos => `title-slide-${pos} title-stay-${pos}`;

      names[1].style.display = 'none';
      lastname.className = "title-stay-right";

      let idx = 0;
      function animate() {
        idx ^= 1;
        names[idx].style.display = 'initial';
        names[idx].className = "title-slide-in";
        names[idx ^ 1].className = "title-slide-out";
        setTimeout(i => names[i].style.display = 'none', 500, idx ^ 1);
        lastname.className = slideAndStay(positions[idx]);
      };

      let shouldWait = false;
      function throttledAnimate() {
        if (shouldWait) return;

        shouldWait = true;
        animate();
        setTimeout(() => shouldWait = false, 1000);
      }

      setTimeout(() => {
        throttledAnimate();
        setInterval(throttledAnimate, 7000);
      }, 3000);

      currentScript.parentNode.onmouseover = throttledAnimate;
    })();
  </script>
</a>
