<span id="title-firstname">{{ site.title.firstname }}</span>
<span id="title-nickname">{{ site.title.nickname }}</span>
<span id="title-lastname">{{ site.title.lastname }}</span>
<script>
  (() => {
    const lastname = document.getElementById("title-lastname");
    const names = [
      document.getElementById("title-firstname"),
      document.getElementById("title-nickname"),
    ];
    const positions = ['right', 'left'];
    const slideAndStay = pos => `title-slide-${pos} title-stay-${pos}`;

    names[1].style.display = 'none';
    lastname.className = "title-stay-right";

    let idx = 0;
    const animate = () => {
      idx ^= 1;
      names[idx].style.display = 'initial';
      names[idx].className = "title-slide-in";
      names[idx ^ 1].className = "title-slide-out";
      setTimeout(i => names[i].style.display = 'none', 500, idx ^ 1);
      lastname.className = slideAndStay(positions[idx]);
    };

    setTimeout(() => {
      animate();
      setInterval(animate, 7000);
    }, 3000)
  })();
</script>
