---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <h1 class="page-heading">Hi, welcome to my personal page! &#127881;</h1>
  <div class="intro-content">
    <div class="profile-container">
      <img class="my-photo" src="assets/images/me.jpeg" />
      <div style="display: flex; flex-direction: row; justify-content: center; padding-top: 15px; padding-bottom: 15px">
        {%- include components/link-button.html
          link="http://chanwutk.github.io/resume/resume.pdf"
          text="Here is my Resume!"
        -%}
      </div>
    </div>
    <div>
      {{ content }}
    </div>
  </div>

  <br/>
  <h2 id="papers">Papers</h2>
  <div class="home-papers">
    {%- assign papers = site.papers | sort: 'priority' -%}
    {%- for publication in papers -%}
      {%- include components/publication-thumbnail.html publication=publication -%}
    {%- endfor -%}
  </div>

  <br/>
  <h2 id="projects">Projects and Contributions</h2>
  <div class="home-projects">
    {%- assign projects = site.projects | sort: 'priority' -%}
    {%- for project in projects -%}
      {%- include components/project-thumbnail.html project=project -%}
    {%- endfor -%}
  </div>

  <br/>
  <h2 id="experience">Work Experience</h2>
  <ul class="post-list">
    {%- assign exps_ends = site.experiences | group_by: 'end' | sort: 'name' | reverse -%}
    {%- for exps_end in exps_ends -%}
      {%- assign exps = exps_end.items | sort: 'start' | reverse -%}
      {%- for exp in exps -%}
        {%- include components/experience-card.html exp=exp -%}
      {%- endfor -%}
    {%- endfor -%}
  </ul>
</div>
